.navbar {
  background-color: #8a2be2; /* Fondo lila */
  padding: 10px;
}

.navbar ul {
  list-style: none;
  text-align: center; /* Alinea los elementos al centro */
}

.navbar li {
  display: inline-block; /* Muestra los elementos en línea */
  margin: 0 10px; /* Ajusta el margen según sea necesario */
}

.navbar a {
  text-decoration: none;
  color: #fff; /* Texto blanco */
  font-size: 18px;
}
